
.guia-page {
    
    ion-grid{
      margin-top: -25%;
    }
    ion-slides{
      height: 100%;
    }
    .imgclass{
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 200px;
    }
    
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 0;
      font-size: 18px;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }
    }
  
  }