<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img class="home-img" src="../../assets/images/text_chronex2.png" />
      </ion-title>
      <ion-buttons slot="end">
        <ion-button icon-only (click)="signOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> 
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary">Calculadora freelance</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form #CalcForm="ngForm">
        <ion-row>
          <ion-col align-self-start >
            <ion-item>
              <ion-label position="floating"><h3>Salario Mensual neto pretendido</h3></ion-label>
              <ion-input type="number" [(ngModel)]="calc.salario" name="salario" required="required"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-start >
            <ion-item>
              <ion-label position="floating"><h4>Computador (cada año)</h4></ion-label>
              <ion-input type="number" [(ngModel)]="calc.pc" name="pc" required="required"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col align-self-start size="6">
              <ion-item>
                <ion-label position="floating"><h3>Alquiler</h3></ion-label>
                <ion-input type="number" [(ngModel)]="calc.alquiler" name="alquiler" required="required"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col align-self-start size="6">
              <ion-item>
                <ion-label position="floating"><h3>Télefono/Internet</h3></ion-label>
                <ion-input type="number" [(ngModel)]="calc.telinter" name="telinter" required="required"></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col align-self-start size="6">
              <ion-item>
                <ion-label position="floating"><h3>Transporte</h3></ion-label>
                <ion-input type="number" [(ngModel)]="calc.transporte" name="transporte" required="required"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col align-self-start size="6">
              <ion-item>
                <ion-label position="floating"><h3>Alimentación</h3></ion-label>
                <ion-input  type="number" [(ngModel)]="calc.alimentacion" name="alimentacion" required="required"></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col align-self-start size="6">
              <ion-item>
                <ion-label position="floating"><h3>Software</h3></ion-label>
                <ion-input type="number" [(ngModel)]="calc.software" name="software" required="required"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col align-self-start size="6">
              <ion-item>
                <ion-label position="floating"><h3>Salud/Pensión</h3></ion-label>
                <ion-input type="number" [(ngModel)]="calc.salud" name="salud" required="required"></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-start size="6">
            <ion-item>
              <ion-label position="floating"><h3>Impuestos</h3></ion-label>
              <ion-input type="number" [(ngModel)]="calc.impuestos" name="impuestos" required="required"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col align-self-start size="6">
            <ion-item>
              <ion-label position="floating"><h3>Educación</h3></ion-label>
              <ion-input type="number" [(ngModel)]="calc.educacion" name="educacion" required="required"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-start size="6">
            <ion-item>
              <ion-label position="floating"><h3>Personales</h3></ion-label>
              <ion-input type="number" [(ngModel)]="calc.personales" name="personales" required="required"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col align-self-start size="6">
            <ion-item>
              <ion-label position="floating"><h3>otros</h3></ion-label>
              <ion-input required type="number" [(ngModel)]="calc.otros"  name="otros" required="required"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-button ion-button 
        [disabled]="!CalcForm.form.valid"
        block="block" 
        (click)="logForm()"
        expand="full" >Calcular</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
