page-acerca {

}

.pacerca {
    padding: 0 20px;
    font-size: 11px;
    line-height: 1.5;
    color: #60646B;
    text-align: center;

    b {
      color: #000000;
    }
  }

  .fondoAcerca{
    text-align: center;
  }


  .footerAcerca{
    color: #fff;
    text-align: center;
    font-size: 11px;
    background-color:#212121;
    height:auto;
    width: auto;
    
  }

  ion-app.md [padding], ion-app.md [padding] .scroll-content{
    padding:0;
  }