<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="home-img" src="../../assets/images/text_chronex2.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/grafico.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenido a Cronex</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>CRONEX está contemplada como una aplicación híbrida (Mobile/Web), utilizando un 
            FrameWork de desarrollo llamado Ionic para su Front-End, acompañado de tecnologías como 
            HTML, ANGULAR, TS (TypeScript), SCSS; en su Back-End contendrá tecnologías como JSON 
            y como gestor de BD (Base de datos) se utilizará FireBase una herramienta que nos proporciona 
            Google. </p>
      </ion-card-content>
    </ion-card>
</ion-content>
