page-signup {
    .spotify {
        width: 300px;
        height: 200px;
     }
 

}

ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: #ffffff;
    contain: strict;
}