<ion-app>
  <ion-split-pane >
    <ion-menu >
      <ion-header >
        <ion-toolbar color="primary"  >
          <ion-title>
            <img src="../assets/images/text_chronex.png" style="margin: auto; width: 95%;" />
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="primary">
        <ion-list color="primary">
          <ion-menu-toggle color="primary" auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="primary" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color="secondary" slot="start" [name]="p.icon"></ion-icon>
              <ion-label color="secondary">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
